<!doctype html>
<head>

<style>
 * {
    box-sizing: border-box;
  }

body {
  margin: 24px; /* 50% bigger than the original 0 for left and right margins */
  padding: 24px; /* 50% bigger than the original 0 for top and bottom margins */
  font-family: 'Courier New', monospace;
  background-color: rgba(1, 1, 43, 0.5);
  background-image: url("https://media.tenor.com/v-d5E2Xnv_sAAAAd/lain-serial-experiments-lain.gif");
  background-repeat: repeat;
  background-size: cover;
  color: #05d9e8;
}

.neon {
  color: #05d9e8;
  text-shadow: 0px 0px 10px #05d9e8;
  font-weight: bold;
  background-color: #fe00fe;
  background-image: linear-gradient(45deg, #05d9e8 0%, #7700a6 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neon-animation 2s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}

.neon:hover {
  transform: scale(1.1);
  background-position: right center;
  text-shadow: 0px 0px 20px #05d9e8, 0px 0px 40px #05d9e8, 0px 0px 80px #05d9e8;
}

.neon-list {
  font-family: 'Courier New', monospace;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 10px blue;
}

.welcome-message::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #05d9e8;
  margin-top: 0.5rem;
}

@keyframes neon-animation {
  from {
    background-position: left center;
  }

  to {
    background-position: right center;
  }
}

.container {
  max-width: 1200px;
  margin: 2rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}


.content {
  display: flex;
}

.section {
  background-color: rgba(0, 11, 46, 0.7); /* Changed to rgba for transparency */
  padding: 1.5rem;
  border: 2px solid #048BA8;
  margin: 0.5rem;
  backdrop-filter: blur(5px); /* Added a little blur to the background */
}

.main-section {
  width: 80%; /* 80% of the total width */
}https://codeberg.org/Coding-Liberation.net/COPL

.nav-section {
  width: 20%; /* Changed to 20% of the total width */
  vertical-align: top; /* Added to align elements at the same latitude */
}

.user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-avatar {
  width: 100px;
  height: 100px;
  margin-right: 0.75rem;
}

.user-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}

.user-description {
  margin-bottom: 1rem;
}


.info-box {
  border: 2px solid #05d9e8;
 border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem; /* Keep the margin-bottom for space below the box */
  margin-right: 1rem; /* Add margin-right to create space to the right of the box */
}


#posts {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2rem;
  margin-bottom: 0;
}

#posts li {
  margin-bottom: 1.5rem;
}

.latest-posts-container {
  justify-content: flex-start;
}

.bio {
  font-style: italic;
  margin-top: 1rem;
}

::selection {
  background-color: #fe00fe;
  color: #05d9e8;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 1em;
}

.cybrwarp {
  position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #000000da;
	color: red;
  text-align: center;
	font-size: 20px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
</head>

</style>
